In [1]:
import pandas as pd
df = pd.read_csv('Delivery_Logistics.csv')
df.head()

   delivery_id delivery_partner      package_type vehicle_type  ... delayed delivery_status delivery_rating  delivery_cost
0          1.0        delhivery  automobile parts         bike  ...      no       delivered               3      1632.7206
1          2.0       xpressbees         cosmetics       ev van  ...      no       delivered               5       640.1700
2          3.0        shadowfax         groceries        truck  ...      no       delivered               4      1448.1700
3          4.0              dhl       electronics       ev van  ...      no       delivered               3      1486.5700
4          5.0              dhl          clothing          van  ...      no       delivered               4      1394.5600

[5 rows x 15 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   delivery_id          25000 non-null  float64
 1   delivery_partner     25000 non-null  object
 2   package_type         25000 non-null  object
 3   vehicle_type         25000 non-null  object
 4   delivery_mode        25000 non-null  object
 5   region               25000 non-null  object
 6   weather_condition    25000 non-null  object
 7   distance_km          25000 non-null  float64
 8   package_weight_kg    25000 non-null  float64
 9   delivery_time_hours  25000 non-null  object
 10  expected_time_hours  25000 non-null  object
 11  delayed              25000 non-null  object
 12  delivery_status      25000 non-null  object
 13  delivery_rating      25000 non-null  int64
 14  delivery_cost        25000 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 2.9+ MB

In [3]:
df['delivery_id'] = df['delivery_id'].astype(int)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   delivery_id          25000 non-null  int32
 1   delivery_partner     25000 non-null  object
 2   package_type         25000 non-null  object
 3   vehicle_type         25000 non-null  object
 4   delivery_mode        25000 non-null  object
 5   region               25000 non-null  object
 6   weather_condition    25000 non-null  object
 7   distance_km          25000 non-null  float64
 8   package_weight_kg    25000 non-null  float64
 9   delivery_time_hours  25000 non-null  object
 10  expected_time_hours  25000 non-null  object
 11  delayed              25000 non-null  object
 12  delivery_status      25000 non-null  object
 13  delivery_rating      25000 non-null  int64
 14  delivery_cost        25000 non-null  float64
dtypes: float64(3), int32(1), int64(1), object(10)
memory usage: 2.8+ MB

In [5]:
df.head()

   delivery_id delivery_partner      package_type vehicle_type  ... delayed delivery_status delivery_rating  delivery_cost
0            1        delhivery  automobile parts         bike  ...      no       delivered               3      1632.7206
1            2       xpressbees         cosmetics       ev van  ...      no       delivered               5       640.1700
2            3        shadowfax         groceries        truck  ...      no       delivered               4      1448.1700
3            4              dhl       electronics       ev van  ...      no       delivered               3      1486.5700
4            5              dhl          clothing          van  ...      no       delivered               4      1394.5600

[5 rows x 15 columns]

In [6]:
df.describe()

        delivery_id   distance_km  package_weight_kg  delivery_rating  delivery_cost
count  25000.000000  25000.000000       25000.000000     25000.000000   25000.000000
mean   12499.245000    150.390436          25.145898         3.666000     864.944579
std     7214.877547     86.409745          14.368663         1.149964     435.712593
min        1.000000      3.600000           0.670000         1.000000      95.667400
25%     6250.750000     75.900000          12.680000         3.000000     490.800000
50%    12500.500000    151.000000          25.145000         4.000000     867.535000
75%    18750.250000    224.900000          37.660000         5.000000    1237.910000
max    24750.000000    297.100000          49.520000         5.000000    1632.720600

In [7]:
df.isnull().sum()

delivery_id            0
delivery_partner       0
package_type           0
vehicle_type           0
delivery_mode          0
region                 0
weather_condition      0
distance_km            0
package_weight_kg      0
delivery_time_hours    0
expected_time_hours    0
delayed                0
delivery_status        0
delivery_rating        0
delivery_cost          0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df['delivery_partner'].unique()

array(['delhivery', 'xpressbees', 'shadowfax', 'dhl', 'amazon logistics',
       'blue dart', 'fedex', 'ecom express', 'ekart'], dtype=object)

In [11]:
pip install pyodbc sqlalchemy pandas

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pyodbc in c:\users\el3afreet\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: sqlalchemy in c:\users\el3afreet\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: pandas in c:\users\el3afreet\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\el3afreet\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\el3afreet\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\el3afreet\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\el3afreet\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\el3afreet\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\el3afreet\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\el3afreet\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [12]:
import pyodbc
from sqlalchemy import create_engine

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-8VNV0DG;'
    'DATABASE=delivery_logistics_db;'
    'Trusted_Connection=yes;'
)
cursor = conn.cursor()
engine = create_engine(
    "mssql+pyodbc://DESKTOP-8VNV0DG/delivery_logistics_db?driver=ODBC+Driver+17+for+SQL+Server",
    fast_executemany=True
)
df.to_sql('delivery', engine, if_exists='append', index=False)
print('Data loaded successfully into database')

Data loaded successfully into database